* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    width: 80%;
    height: 100vh;
    background: rgba(0,0,0,.2);
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
}
.form {
    background-color: rgba(255,255,0,.4);
    padding: .5rem;
    margin-top: 1rem;
}
.box {
    transition: background-color .5s ease;
    border: 1px solid #2c2c2c;
    padding: 1rem;
    cursor: pointer;
    font-weight: 600;
    border-radius: 8px;
}
.box:hover {
    transition: background-color .5s ease;
    background-color: rgba(255,255,0,1);
}
.box:not(:last-child) {
    margin-right : .5rem;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    margin: .2rem;
    padding: 1rem;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.product:hover {
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}